/* All */

:root {
  --train-unit: 2.5rem;
}

body {
  font-family: "Noto Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  width: clamp(40rem, 80vw, 65rem);
  margin: 0 auto;
  border-top: 1px;
  border-color: white;
  border-style: solid none none none;
}

h1 {
  font-size: 5rem;
  margin: 0.25em 0 0.25em 0;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 2.5rem;
  margin: 0.5em 0
}

h3 {
  font-size: 2rem;
  margin: 0.5em 0 0.5em 0;
}

h4 {
  font-size: 1.5rem;
  margin: 1em;
}

.section-break {
  display: block;
  margin: 1em auto;
  text-align: center;
  /* width: 100%; */
}

section {
  margin: 2em 0;
}

/* Navbar */

nav {
  margin-left: auto;
  margin-right: 0;
  height: 3em;
}

ul {
  list-style-type: none;
  padding: 0.1rem;
  overflow: hidden;
  float: right;
}

li {
  float: left;
  margin: 0 5px;
}

li a {
  display: block;
  text-align: center;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
}

li a:visited {
  color: black;
  padding: 0.3rem 0.3rem;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  font-weight: bolder;
}

.underline {
  padding: 0 0.5rem;
  /* width: 100%; */
  width: fit-content;
}

.active {
  background-color: #04aa6d;
}

/* Banner section */

.banner-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 60% 10% 10% 20%;
  grid-template-rows: repeat(3, calc(var(--train-unit) * 3));
  margin: 1em 0;
}

.small-header {
  font-size: 2rem;
}

#banner-btns {
  text-align: center;
  /* margin-bottom: 2em; */
}

#banner-btns button {
  margin: 0 2rem;
  width: 8.5em;
  height: 5em;
  font-family: "NotoSans-SemiBold", "Noto Sans";
  font-weight: 600;
  padding: 0.1em;
}

.btn-header {
  font-size: 1.2rem;
}

#banner-left {
  grid-row: 1 / 4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#banner-left p {
  margin: 0;
}

#banner-left p a:visited {
  color: black;
}

.icon-span {
  font-size: var(--train-unit);
  height: fit-content;
  margin: auto 0;
}

.icon-line {
  grid-column: 4 / 5;
  text-align: left;
  padding: 5px;
}

.icon-name {
  font-size: 1rem;
}

.fas {
  margin: auto auto;
}

#train-column {
  grid-row: 1 / 4;
  grid-column: 3 / 4;
  position: relative;
}

.train-tracks {
  height: calc(var(--train-unit) * 7);
  z-index: 0;
  position: absolute;
  top: var(--train-unit);
  width: 30%;
  left: 35%;
}

#train-div {
  text-align: center;
  animation: up-down 7s infinite alternate ease-in-out;
  height: 10%;
  z-index: 9;
  margin: 0 auto;
  position: relative;
}

#train-div:hover {
  animation-play-state: paused;
}

@keyframes up-down {
  0% {
    transform: translateY(var(--train-unit));
  }
  50% {
    transform: translateY(calc(var(--train-unit) * 4));
  }
  100% {
    transform: translateY(calc(var(--train-unit) * 7));
  }
}

#train-icon {
  z-index: 8;
  position: absolute;
  width: 80%;
  left: 10%;
}

#train-bg {
  width: 44%;
  height: 80%;
  background-color: white;
  position: absolute;
  left: 28%;
  top: 10%;
  z-index: 7;
}

/* Portfolio Section */

.portoflio-section {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 20% 50% 30%;
}

.project-logo {
  grid-column: 1 / 2;
  width: 100%;
  margin: auto auto;
}
.project-details {
  grid-column: 2 / 3;
  margin: 0.25rem;
}
.tech-logos {
  padding-left: 1rem;
}
.tech-logo {
  height: 3rem;
  width: 3rem;
  margin: 0.25rem;
}

/* .project-title {
}
.project-subtitle {
  grid-column: 2 / 3;
}
.project-description {
  grid-column: 3 / 4;
} */
