/* All */

:root {
  --train-unit: 2.5rem;
  --w: 100%;
  --h: 10%;
  --x: 0%;
  --y1: calc(var(--train-unit) * 0.5 + 4px);
  --y2: calc(var(--train-unit) * 3 + 4px);
  --y3: calc(var(--train-unit) * 5.5 + 4px);
}

html {
  background: radial-gradient(80.99% 100% at 50% 0%, #00ff0a 0%, #36008e 100%),
    radial-gradient(50% 123.47% at 50% 50%, #efe7c8 0%, #36008e 100%),
    linear-gradient(301.28deg, #ff006b 0%, #48dd9e 100%),
    linear-gradient(294.84deg, #5a60e4 0%, #d30000 100%),
    linear-gradient(52.29deg, #000000 0%, #00ff85 100%),
    radial-gradient(100% 138.69% at 100% 0%, #0007a5 0%, #ff7a00 100%),
    radial-gradient(70.41% 100% at 50% 0%, #d5b300 0%, #2200aa 100%);
  background-blend-mode: screen, screen, lighten, overlay, lighten, difference,
    normal;
}

/* html {
  background-image: url(images/mesh2.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

body {
  font-family: "Noto Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  width: clamp(40rem, 80vw, 65rem);
  margin: 0 auto;
}

h1 {
  font-size: 5rem;
  margin: 0.25em 0 0 0;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 2.5rem;
  margin: 0.5em 0;
}

h3 {
  font-size: 2rem;
  margin: 0.5em 0 0.5em 0;
}

h4 {
  font-size: 1.5rem;
  margin: 1em;
}

.section-break {
  display: block;
  margin: 1em auto;
  text-align: center;
  display: none;
  /* width: 100%; */
}

section {
  margin: 2em 0 5em 0;
}

/* Navbar */

nav {
  margin-left: auto;
  margin-right: 0;
  height: 3em;
}

ul {
  list-style-type: none;
  padding: 0.1rem;
  overflow: hidden;
  float: right;
}

li {
  float: left;
  margin: 0 5px;
}

li a {
  display: block;
  text-align: center;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
}

li a:visited {
  color: black;
  padding: 0.3rem 0.3rem;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  font-weight: bolder;
}

.underline {
  padding: 0 0.5rem;
  /* width: 100%; */
  width: fit-content;
}

.active {
  background-color: #04aa6d;
}

/* Banner section */

.banner-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 60% 10% 10% 20%;
  grid-template-rows: calc(var(--train-unit) * 2) calc(var(--train-unit) * 3) calc(
      var(--train-unit) * 2
    );
  margin: 1em 0;
}

.small-header {
  font-size: 2rem;
}

#banner-btns {
  text-align: center;
  /* margin-bottom: 2em; */
}

#banner-btns button {
  border-radius: 1em;
  border-width: 0.1em;
  margin: 0 2rem;
  width: 10em;
  height: 5em;
  font-family: "NotoSans-SemiBold", "Noto Sans";
  font-weight: 600;
}

.btn-header {
  font-size: 1.2rem;
}

#banner-left {
  grid-row: 1 / 4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* #banner-left p {
  margin: 3em 0;
} */

#banner-left p a:visited {
  color: black;
}

.icon-span {
  font-size: var(--train-unit);
  height: fit-content;
  margin: auto 0;
}

.icon-line {
  grid-column: 4 / 5;
  text-align: left;
  padding: 5px;
}

.icon-name {
  font-size: 1rem;
}

.fas {
  margin: auto auto;
  width: fit-content;
}

#train-column {
  grid-row: 1 / 4;
  grid-column: 3 / 4;
  position: relative;
  text-align: center;
}

.train-tracks {
  height: calc(var(--train-unit) * 7);
  z-index: 0;
  position: absolute;
  top: 0;
  width: 30%;
  left: 35%;
  animation: clip-up-down 7s infinite alternate ease-in-out;
}

#train-div {
  text-align: center;
  animation: train-up-down 7s infinite alternate ease-in-out;
  height: 10%;
  z-index: 9;
  margin: 0 auto;
  position: relative;
}

/* #train-div:hover {
  animation-play-state: paused;
} */

@keyframes train-up-down {
  0% {
    transform: translateY(calc(var(--train-unit) * 0.5));
  }
  50% {
    transform: translateY(calc(var(--train-unit) * 3));
  }
  100% {
    transform: translateY(calc(var(--train-unit) * 5.5));
  }
}

@keyframes clip-up-down {
  0% {
    clip-path: polygon(
      0% 0%,
      0% 100%,
      var(--x) 100%,
      var(--x) var(--y1),
      calc(var(--x) + var(--w)) var(--y1),
      calc(var(--x) + var(--w)) calc(var(--y1) + var(--h)),
      var(--x) calc(var(--y1) + var(--h)),
      var(--x) 100%,
      100% 100%,
      100% 0%
    );
  }
  50% {
    clip-path: polygon(
      0% 0%,
      0% 100%,
      var(--x) 100%,
      var(--x) var(--y2),
      calc(var(--x) + var(--w)) var(--y2),
      calc(var(--x) + var(--w)) calc(var(--y2) + var(--h)),
      var(--x) calc(var(--y2) + var(--h)),
      var(--x) 100%,
      100% 100%,
      100% 0%
    );
  }
  100% {
    clip-path: polygon(
      0% 0%,
      0% 100%,
      var(--x) 100%,
      var(--x) var(--y3),
      calc(var(--x) + var(--w)) var(--y3),
      calc(var(--x) + var(--w)) calc(var(--y3) + var(--h)),
      var(--x) calc(var(--y3) + var(--h)),
      var(--x) 100%,
      100% 100%,
      100% 0%
    );
  }
}

#train-icon {
  z-index: 8;
  position: absolute;
  width: 80%;
  left: 10%;
}

#train-bg {
  display: none;
  width: calc(var(--train-unit) * 0.65);
  height: calc(var(--train-unit) * 0.825);
  background-color: white;
  margin: 0 auto;
  z-index: 7;
}

/* Portfolio Section */

.portoflio-section {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 20% 50% 30%;
}

.project-logo {
  grid-column: 1 / 2;
  width: 100%;
  margin: auto auto;
}
.project-details {
  grid-column: 2 / 3;
  margin: 0.25rem;
}
.tech-logos {
  padding-left: 1rem;
}
.tech-logo {
  height: 3rem;
  width: 3rem;
  margin: 0.25rem;
}

/* .project-title {
}
.project-subtitle {
  grid-column: 2 / 3;
}
.project-description {
  grid-column: 3 / 4;
} */

/* Work Experience */

#experience-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  margin: 0 1em;
}

.experience-cell {
  padding: 2em;
  text-align: center;
  padding: 1em;
}

.experience-cell > p {
  font-weight: bold;
  text-align: center;
}

.work-logo {
  height: 4em;
}
