/* All */

:root {
  /* Margins */
  --inner-margin: clamp(360px, 80%, 1000px);

  /* Train sizes */
  --train-unit: 2.5rem;
  --w: 100%;
  --h: 10.5%;
  --x: 0%;
  --y1: calc(var(--train-unit) * 0.5 + 4px);
  --y2: calc(var(--train-unit) * 3 + 4px);
  --y3: calc(var(--train-unit) * 5.5 + 4px);

  /* Colours */
  --maroon: rgb(87, 2, 37);
  --beige: blanchedalmond;
}

@media screen and (max-width: 600px) {
  :root {
    --train-unit: 1.5rem;
  }
}

/* html {
  scroll-behavior: smooth;
  background: radial-gradient(80.99% 100% at 50% 0%, #00ff0a 0%, #36008e 100%),
    radial-gradient(50% 123.47% at 50% 50%, #efe7c8 0%, #36008e 100%),
    linear-gradient(301.28deg, #ff97c2 0%, #48dd9e 100%),
    linear-gradient(294.84deg, #5a60e4 0%, #f08c8c 100%),
    linear-gradient(52.29deg, #000000 0%, #00ff85 100%),
    radial-gradient(100% 138.69% at 100% 0%, #357442 0%, #ff0000 100%),
    radial-gradient(70.41% 100% at 50% 0%, #d5b300 0%, #2200aa 100%);
  background-blend-mode: screen, screen, lighten, overlay, lighten, difference,
    normal;
} */

html {
  background-color: var(--beige);
}

body {
  font-family: "Noto Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  margin: 0 auto;
}

main {
  width: var(--inner-margin);
  margin: 0 auto;
}

p {
  font-size: large;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: cooper-black-std, serif;
  font-weight: 200;
  font-style: normal;
}

h1 {
  font-size: 8rem;
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
}

strong {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  color: transparent;
}

h2 {
  font-size: 2.5rem;
  margin: 0.5em 0;
}

h3 {
  font-size: 2rem;
  margin: 0.5em 0 0.5em 0;
}

h4 {
  font-size: 1.5rem;
  margin: 1em;
}

a {
  color: black;
}

section {
  margin: 1em 0 5em 0;
}

button {
  border-radius: 0.5em;
  border-width: 0.1em;
  font-family: "NotoSans-SemiBold", "Noto Sans";
}

button:hover {
  cursor: pointer;
}

.icon-span {
  height: fit-content;
  margin: auto 0;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 5rem;
    margin: 1em 0 0.5em 0;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
    margin: 1em 0 0.5em 0;
  }

  h2 {
    font-size: 2rem;
    margin: 0.5em 0;
  }

  h3 {
    font-size: 1.5rem;
    margin: 0.5em 0 0.5em 0;
  }

  h4 {
    font-size: 1.5rem;
    margin: 0.5em 00;
    font-weight: 600;
  }

  a {
    color: black;
  }

  section {
    margin: 1rem 0 3rem 0;
  }
}

.fas, .fab {
  color: var(--maroon);
}

/* Header */

header {
  background-color: var(--maroon);
  color: blanchedalmond;
  transform: translateX(-calc(100vw - var(--body-width)));
  padding: 1em 1em 0 1em;
  margin-bottom: 4rem;
  overflow: hidden;
}

.inner-header {
  width: var(--inner-margin);
  margin: 0 auto;
}

#banner {
  display: flex;
  align-items: flex-end;
}

.flex-remainder {
  flex-grow: 1;
}

#portrait {
  margin: 0 auto;
  display: block;
  filter: drop-shadow(0 25px 76px var(--beige));
  position: relative;
  max-height: 370px;
}

nav {
  font-family: 'Corben', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
}

nav a {
  color: blanchedalmond;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  border-radius: 0.5em;
}

#nav-list {
  justify-content: right;
  margin: 0;
}

li {
  margin: 0 0.75em;
  text-align: center;

}

/* Underline styles */
li > a {
  display: block;
  position: relative;
  padding: 0.1em 0;
  text-decoration: none;
}

li::after {
  content: attr(title);
  font-weight: bold;
  color: transparent;
}

li > a:hover {
  font-weight: bold;
}

#hamburger {
  display: none;
  margin: 0;
}

#scroll-up-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 5;
  border: none;
  outline: none;
  background-color: hsla(0, 0%, 100%, 0.548);
  cursor: pointer;
  padding: 1em;
  border-radius: 0.5em;
}

#scroll-up-btn:hover {
  background-color: white;
}

@media only screen and (max-width: 600px) {
  #scroll-up-btn {
    display: none;
  }

  #hamburger {
    display: block;
    float: right;
    padding: 1em;
  }

  .hamburger-open {
    flex-direction: column;
  }

  .hamburger-closed {
    display: none;
  }

  #nav-list {
    /* display: flex; */
    float: right;
    /* background-color: white; */
    margin: 0;
    padding: 0.25em 0;
  }

  #nav-list li::after {
    display: none;
  }

  #nav-list li {
    transition: display ease 0.3s, top ease 0.3s 0.3s, transform ease 0.3s;
    font-size: 0.9rem;
    padding: 0.25em;
  }

  nav {
    position: fixed; /* Sit on top of the page content */
    width: 20%; /* Full width (cover the whole page) */
    top: 0;
    right: 0;
    z-index: 5; /* Specify a stack order in case you're using a different order for other elements */
  }
  #hamburger:hover {
    cursor: pointer;
  }
}

/* Banner section */

.banner-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 60% 10% 10% 20%;
  grid-template-rows: calc(var(--train-unit) * 2) calc(var(--train-unit) * 3) calc(
      var(--train-unit) * 2
    );
  margin: 1em 0;
}

.small-header {
  font-size: 3rem;
}

#banner-btns {
  text-align: center;
}

#banner-btns button {
  width: 10em;
  height: 5em;
  font-weight: 600;
  background-color: hsla(0, 0%, 100%, 0.548);
  margin: 0 2rem;
}

#banner-btns button:hover {
  background-color: white;
}

.btn-header {
  font-size: 1.3rem;
}

#banner-left {
  grid-row: 1 / 4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#banner-left p a:visited {
  color: black;
}

#Home .icon-span {
  font-size: var(--train-unit);
}

.location {
  text-align: center;
  margin: 1em;
}

.location img {
  height: 2em;
  display: inline;
  vertical-align: middle;
}

.location span {
  display: inline;
}

.icon-line {
  grid-column: 4 / 5;
  text-align: left;
  padding: 5px;
}

.icon-name {
  font-size: 1rem;
}

.fas {
  margin: auto auto;
  width: fit-content;
}

#train-column {
  grid-row: 1 / 4;
  grid-column: 3 / 4;
  position: relative;
  text-align: center;
}

.train-tracks {
  color: var(--maroon);
  height: calc(var(--train-unit) * 7);
  z-index: 1;
  position: absolute;
  top: 0;
  width: 30%;
  left: 35%;
  animation: clip-up-down 7s infinite alternate ease-in-out;
}

#train-div {
  text-align: center;
  animation: train-up-down 7s infinite alternate ease-in-out;
  height: 10%;
  z-index: 2;
  margin: 0 auto;
  position: relative;
}

/* #train-div:hover {
  animation-play-state: paused;
} */

@keyframes train-up-down {
  0% {
    transform: translateY(calc(var(--train-unit) * 0.5));
  }
  50% {
    transform: translateY(calc(var(--train-unit) * 3));
  }
  100% {
    transform: translateY(calc(var(--train-unit) * 5.5));
  }
}

@keyframes clip-up-down {
  0% {
    clip-path: polygon(
      0% 0%,
      0% 100%,
      var(--x) 100%,
      var(--x) var(--y1),
      calc(var(--x) + var(--w)) var(--y1),
      calc(var(--x) + var(--w)) calc(var(--y1) + var(--h)),
      var(--x) calc(var(--y1) + var(--h)),
      var(--x) 100%,
      100% 100%,
      100% 0%
    );
  }
  50% {
    clip-path: polygon(
      0% 0%,
      0% 100%,
      var(--x) 100%,
      var(--x) var(--y2),
      calc(var(--x) + var(--w)) var(--y2),
      calc(var(--x) + var(--w)) calc(var(--y2) + var(--h)),
      var(--x) calc(var(--y2) + var(--h)),
      var(--x) 100%,
      100% 100%,
      100% 0%
    );
  }
  100% {
    clip-path: polygon(
      0% 0%,
      0% 100%,
      var(--x) 100%,
      var(--x) var(--y3),
      calc(var(--x) + var(--w)) var(--y3),
      calc(var(--x) + var(--w)) calc(var(--y3) + var(--h)),
      var(--x) calc(var(--y3) + var(--h)),
      var(--x) 100%,
      100% 100%,
      100% 0%
    );
  }
}

#train-icon {
  z-index: 4;
  position: absolute;
  width: 80%;
  left: 10%;
}

#train-bg {
  display: none;
  width: calc(var(--train-unit) * 0.65);
  height: calc(var(--train-unit) * 0.825);
  background-color: white;
  margin: 0 auto;
  z-index: 3;
}

@media screen and (max-width: 800px) {
  #train-column {
    display: none;
  }
  .icon-line {
    display: none;
  }

  .banner-grid {
    margin: 0 auto;
    display: block;
  }

  #banner-btns button {
    margin: 0.75em 0.5em;
  }
}

/* Portfolio Section */

.portfolio-project {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 20% 50% 30%;
  margin-bottom: 3em;
}

.portfolio-project a {
  text-decoration: none;
}

.project-title {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
}

.project-logo {
  grid-column: 1 / 2;
  width: 100%;
  max-width: 9rem;
  margin: 2em 0;
}

.project-details {
  grid-column: 2 / 3;
  margin: 0.25rem;
}

.tech-logos {
  padding-left: 1rem;
}

.tech-logo {
  max-height: 3rem;
  max-width: 4rem;
  margin: 0.25rem;
}

@media only screen and (max-width: 600px) {
  .portfolio-project {
    display: block;
  }

  .project-logo {
    display: block;
    margin: 0 auto;
    width: 40%;
    max-width: 9rem;
  }
  .project-details {
    margin: 0.25rem;
  }
  .tech-logos {
    padding-left: 1rem;
  }
  .tech-logo {
    height: 3rem;
    width: 3rem;
    margin: 0.25rem;
  }
}

/* Work Experience */

#experience-grid {
  display: grid;
  grid-auto-flow: column;
}

.experience-cell {
  padding: 2em;
  text-align: center;
  padding: 1em;
}

.experience-cell > p {
  font-weight: bold;
  text-align: center;
}

.work-logo {
  height: 5em;
}

@media only screen and (max-width: 600px) {
  #experience-grid {
    display: grid;
    margin: 0 1em;
    grid-template-columns: repeat(auto-fit, 8em);
    grid-auto-flow: unset;
  }
}

/* Socials */

#socials-title {
  text-align: center;
}
.socials-icons {
  margin: 0 auto;
  justify-content: center;
  padding: 0;
}

#Socials .icon-span {
  font-size: var(--train-unit);
}

/* Overlay */

#Overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 5; /* Specify a stack order in case you're using a different order for other elements */
  transition: visibility 0s, opacity 0.25s ease-out;
}

.hidden {
  /* display: none; */
  /* border: none; */
  visibility: hidden;
  opacity: 0;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 0.1em solid black;
  border-radius: 1em;
  transition: visibility 0s, opacity 0.25s linear;
}

.container p {
  text-align: center;
  padding: 1em;
}

#Overlay form {
  padding: 2em;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: clamp(1px, 75vw, 20em);
}

#Overlay .form-container {
  z-index: 7;
}

#thank-you {
  z-index: 6;
}

textarea {
  resize: vertical;
  font-family: "Noto Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

.field {
  display: flex;
  flex-direction: column;
  padding: 0.8em 0;
}

.far {
  padding-right: 0.5em;
}

.entry {
  margin: 0.4em 0;
  border-width: 0.1em;
  border-color: black;
}

.submit-btn {
  width: fit-content;
  align-self: center;
  margin: 0.8em 0;
}

#Overlay .icon-span {
  font-size: 1.5rem;
}

#subscribe-form-container {
  z-index: 10;
  width: clamp(320px, 50%, 1080px);
  height: 100%;
  display: block;
  margin: 0 auto;
}

iframe {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow: hidden;
}

iframe::-webkit-scrollbar {
  display: none;
}

iframe body {
  overflow-x: hidden;
  height: 100%;
}

/* @media only screen and (max-width: 360px) {
  iframe {
    width: 360px;
    height: 100%;
    display: block;
    margin: 0 auto;
  }
} */
